<h2>Book detail</h2>
<tbody>
  <tr>
    <td>
      <!--画像-->
      <%= user.name %>
    </td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><!--Edit--></td>
    <td><!--Destroy--></td>
  </tr>
</tbody>