<h1>
  welcome to
  <strong>Bookers</strong>
  !!
</h1>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>


<div class="row">
  <p class="sign_up"><%= link_to "Sign up", new_user_registration_path %></p>
</div>
<div>
  <p class="log_in"><%= link_to "Log in", new_user_session_path %></p>
</div>